#filter-box {
    border-style:solid;
    height: 520px;
    padding: 10px;
    margin-top: 10px;
}

#filter-box-subject {
    border-style:solid;
    height: 380px;
    padding: 10px;
    margin-top: 10px;
}

#checkbox {
    display: flex;
}

#subject-filter {
    margin-right: 10px;
}

.grade-checkboxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}