#img-single {
    box-sizing: border-box;

    left: 0%;
    right: 0%;
    top: 50%;
    bottom: 52.5%;

    width: 330px;
    height: 313.5px;
    margin-right: 20px;
    
}

#img-profile {
    box-sizing: border-box;

    left: 0%;
    right: 0%;
    top: 50%;
    bottom: 52.5%;
 
    width: 330px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.inactive-link {
    pointer-events: none;
    color: black;
    cursor: default;
 }

#box {
    /* border-color: black; */
    border-style:solid;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}

#link {
    text-decoration: none;
    color: black;
}

.detail {
    margin-left: 14px;
}

@media (min-width: 768px) {
    .mobile-object {
        display: none;
    }

    #details {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    }
}

@media (max-width: 768px) {

    .mobile-object {
        /* display: flex; */
        justify-content: center;
    }
    
    .centered {
        display: flex;
        justify-content: center;
    }

    #img-single {
        box-sizing: border-box;
    
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 52.5%;
    
        width: 330px;
        height: 313.5px;
        margin: 20px;

        display: block;
    }

    #img-profile {
        box-sizing: border-box;
    
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 52.5%;
    
        width: 330px;
        margin: 20px;

        display: block;
    }

    .desktop-object {
        display: none;
    }

    #box {
        margin: 20px;
    }
}