textarea {
    resize: none;
}

form {
    overflow: hidden;
}

label {
    /* float: left; */
    width: 260px;
    padding-right: 24px;
    display:inline;
}

input {
    width: 316px;
    margin-right: 24px;
}
button #createDataset{
    float: right;
    width: calc(100% - 200px);
}

td {
    vertical-align: top; /* Set vertical alignment to top */
}

.toolTip {
    display: inline-block; 
    width: 14px; /* Adjust the width and height as needed for your circle size */
    height: 14px;
    background-color: #8fbdee; /* Background color of the circle */
    border-radius: 50%; /* Makes the element a circle */
    text-align: center; /* Optional, to center content within the circle */
    line-height: 12px; /* Should match the circle's height to center text vertically */
    /* font-size: 5; */
    color: #fff; /* Text color */
    font-weight: bold; /* Optional, adjust font styles as needed */
    margin-left: 5px;
}

.toolTip:hover {
    cursor: pointer;
}

/* .req:after {
    content: " * ";
    font-weight: bold;
    color: red;
 } */

 .subject-filter {
    width: 20px;
 }

#checkbox {
    width: 50px;
}
 
.inquire-label {
    float: none;
}


.button {
	display: grid;
	outline: none;
	cursor: pointer;
	text-align: center;
	margin: auto;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	/* text-shadow: 0 1px 1px rgba(0,0,0,.3); */
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: #fab040;
    color: white;
    font-weight: bold;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}